In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import sys
import pandas as pd
import numpy as np

sys.path.append('../../')

In [3]:
from zarnitsa.DataAugmenterNLP import DataAugmenterNLP

wandb: WARNING W&B installed but not logged in.  Run `wandb login` or set the WANDB_API_KEY env variable.

# Stright functions

In [4]:
daug = DataAugmenterNLP()

In [5]:
text = "This is sentence example to augment. Thank you for interesting"

In [10]:
daug.augment_column_wordnet(text)

'This be sentence example to augment. Thank you for concern'

In [23]:
daug.augment_column_del(text, reps=1)

'This is sentence example to augment. you for interesting'

In [27]:
daug.augment_column_permut(text, reps=1)

'This sentence is example to augment. Thank you for interesting'

# df examples

In [48]:
df = pd.DataFrame({
    "title": [
        'sentence 1',
        'sentence 2',
        'sentence 3',
        'sentence 4',
        'sentence 5'
    ],
    "text": [
        'this is sentence to augment fastly',
        'Yesterday I was feeling supercool myself',
        "Yooo, it was so crazyy!",
        'If you were born in Desnogorsk - you know how warm water is there!)',
        'This is fifth sentence is already about nothing, kek'
    ]
})
df

        title                                               text
0  sentence 1                 this is sentence to augment fastly
1  sentence 2           Yesterday I was feeling supercool myself
2  sentence 3                            Yooo, it was so crazyy!
3  sentence 4  If you were born in Desnogorsk - you know how ...
4  sentence 5  This is fifth sentence is already about nothin...

In [75]:
daug.augment_column(df['text'], reps=3)

0                   this is sentence to augment fastly
4    This is fifth sentence is already about nothin...
2                              Yooo, it was so crazyy!
1             Yesterday I was feeling supercool myself
3    you were born in Desnogorsk - you warm water i...
Name: text, dtype: object

In [80]:
daug.augment_dataframe(df, reps=5)

../../zarnitsa/DataAugmenterNLP.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reps=reps, min_words=min_words, window_size=window_size

        title                                               text
2  sentence 3                            Yooo, it was so crazyy!
3  sentence 4  If you were born in Desnogorsk - you know how ...
1  sentence 2           Yesterday I was feeling supercool myself
4  sentence 5  This is fifth sentence is already about nothin...
0           1                                             fastly